.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  /* top: 20px; */
  position: relative;
  z-index: 1000;
}

.mobileNavContainer {
  display: none;
}

.walletContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-left: 10px;
  background-color: #c8a1ff63;
  border-radius: 5px;
}

.icon {
  padding: 0px 5px;
}

.navbar {
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background: #43434352;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  /* border-bottom: 1px solid transparent; */
  /* border-bottom: 1px solid var(--accent); */
  /* border-image: linear-gradient(160deg, #00fff792, #dd1fff70) 1; */
  position: fixed;
  top:0px;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 1000;
  box-shadow: #00000097 1px 1px 2px;
}

.navMenuContainer {
  display: flex;
  justify-content: center;
}

.navMenu {
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.navIcon {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 25px;
  position:fixed;
  top:15px;
}

.navLinks {
  display: none;
}

.menuContainer {
  display: none;
}

.mobileSearchContainer {
  display: none;
}

.navLinks.open {
  width: 100px;
  top: 55px;
  display: flex;
  flex-direction: column;
  color: var(--primary);
  gap: 25px;
  z-index: 500;
}

.mobileLinks {
  display: none;
  z-index: 0;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobileLeftSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobileRightSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding-right: 20px;
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding-right: 20px;
}

.menuIcon {
  cursor: pointer;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--accent);
  padding: 10px;
  border-radius: 5px;
}

.menuIcon:hover {
  background-color: var(--border);
  transition: 0.2s ease-in-out;
}

.links {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 40px;
  /* gap: 10px; */
  margin: 0px;
  font-size: small;
  font-weight: 400;
}

.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  background-color: #3c3c3c32;
  color: var(--primary);
  /* border: groove 2px var(--foreground); */
  margin-right: 1px;
  backdrop-filter: blur(8px);
  --webkit-backdrop-filter: blur(8px);
  box-shadow: #00000097 1px 1px 2px;
}

.links a:hover {
  background-color: #00000068;
  transition: 0.2s ease-in-out;
}

.hamburger {
  display: none;
}

.logo {
  color: var(--primary);
  display: flex;
}

.searchContainer {
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary); /* Use your accent color */
}

.searchBar {
  display: flex;
  background-color: var(--accent);
  color: var(--primary);
  border: 1px solid var(--accent);
  /* border-image: linear-gradient(160deg, #00fff792, #dd1fff70) 1; */
  border-radius: 4px;
  /* width: 300px; */
  width: 100px;
  padding-left: 40px; /* Space for the icon */
  outline: none;
  font-size: x-small;
  height: 35px;
}

.searchBar.open {
  display: flex;
}

.searchBar:focus {
  outline: none;
  border: 1px solid #c8a1ff;
  transition: 0.2s ease-in-out;
}

.loginButton {
  background: var(--accent);
  background-color: #c8a1ff;
  color: var(--primary);
  color: black;
  text-shadow: #1616162b 1px 1px 1px;
  border: 1px solid var(--accent);
  border-radius: 10px;
  height: 35px;
  width: 85px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.title {
  font-size: 2.5rem;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}

.loginButton:hover {
  outline: none;
  border: 1px solid var(--border);
  border-color: #dbc1ff;
  background: #dbc1ff;
  background: #dbc1ff00;
  color: #dbc1ff;
  transform: translateY(-1px);
  transition: 0.2s ease-in-out;
}

.nwlogo {
  display: flex;
  position: relative;
  left: 20px;
  align-items: center;
  width: auto;
  height: 40px;
}

@media screen and (max-width: 768px) {

  .navbarContainer {
    display: none;
  }

  .mobileNavContainer {
    display: flex;
    /* justify-content:left; */
    align-items: center;
    color: var(--primary);
    top: 0px;
    position: fixed;
    z-index: 1000;
  }

  .mobileNavbar {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    background: #43434352;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-width: 1px;
    /* border-style: solid; */
    /* border-color: var(--accent); */
    position: fixed;
    top:0px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .mobileNavbar.open {
    /* height: 100%; */
    transition: 0.3s ease-in-out;
  }

  .mobileMenuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .mobileMenu {
    cursor: pointer;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 25px;
    position:fixed;
    top:20px;
    right: 20px;
  }

  .mobileNavIcon {
    cursor: pointer;
    display: flex;
    height: auto;
    justify-content: left;
    align-items: center;
    align-content: center;
    width: 25px;
    position:fixed;
    top:20px;
    left: 20px;
  }

  .mobileNavLinks {
    display: none;
    position: relative;
    justify-content: space-around;
    top: 0px;
    width: 150px;
    flex-direction: column;
    color: var(--primary);
    transform: translateY(-50px);
    /* background-color: #2d2d2dc3 ; */
    /* backdrop-filter: blur(20px); */
    /* -webkit-backdrop-filter: blur(25px); */
    /* border: 1px solid var(--accent); */
    /* border-radius: 5px; */
    gap: 20px;
    padding: 0px 0px;
  }
  
  .mobileNavLinks.open {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
  }
  

  .mobileNavLinks a {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: #3c3c3c32;
    color: var(--primary);
    border: groove 2px var(--foreground);
    /* border-style:groove; */
    backdrop-filter: blur(8px);
    --webkit-backdrop-filter: blur(8px);
    /* margin: 5px; */
  }

  .mobileNavLinks .marketplaceBtn {
    background-color: #a1fff7;
    background-color: #c8a1ff;
    color: black;
    text-shadow: #1616162b 1px 1px 1px;
    font-size: medium;
  }

  .mobileNavLinks a:hover {
    background-color: var(--accent);
    color: var(--primary);
    transition: 0.2s ease-in-out;
  }
  
  .test {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    background-color: #009ebadb;
    border: 1px solid #e1fbffdb;
  }

  .SearchIconContainer {
    height: auto;
    width: 25px;
  }

  .mobileSearchIcon {
    cursor: pointer;
    width: 25px;
    height: auto;
  }

  .searchIconDisplay {
    position: fixed;
    /* padding: 22px; */
    color: var(--primary); /* Use your accent color */
    width: 25px;
    height: auto;
    top: 15px;
    left: 10px;
  }

  .mobileSearchContainer {
    display: none;
  }

  .innerSearchIconContainer {
    height: auto;
    width: 25px;
  }

  .innerMobileSearchIcon {
    position: fixed;
    display: flex;
    right: 10px;
    top: 15px;
    cursor: pointer;
    width: 25px;
    height: auto;
  }

  .mobileSearchContainer.open {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #43434352;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    color: var(--primary);
    gap: 25px;
    z-index: 2000;
  }

  .searchBar{
    background: #43434352;
    backdrop-filter: blur(25px);
    /* border: 1px solid transparent; */
    /* border-image: linear-gradient(145deg, #dd1fff70,#00fff792 ) 1; */
    border: 1px solid #c8a1ff;
    width: 100%;
    border-radius: 0px;
    height: 50px;
    font-size: small;
  }

  .menuContainer {
    display: none;
  }

  .menuContainer.open {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    top: 50px;
    height: 100%;
    width: 100%;
    background: #000000ae;
    
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-top: 1px solid var(--accent);
    overflow-y: auto;
    /* padding: 20px 0; */
    animation: fadeIn 0.4s ease-in-out;
  }

  @keyframes fadeIn {
    from { 
      opacity: 0; 
      transform: translateY(-10px); 
    }
    to { 
      opacity: 1; 
      transform: translateY(0); 
    }
  }

  .headerTab {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161616bd;
    gap: 20px;
    height: 50px;
    padding-left: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: #00000065 1px 1px 1px;
    font-weight: 600;
    font-size: large;
    letter-spacing: 2px;
    border-bottom: 1px solid #c8a1ff;
  }

  .mobileNavSection {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
  }

  .mobileNavSection a {
    display: flex;
    justify-content: left;
    align-items: center;
    background: #2e2e2e9f;
    
    width: 100%;
    height: 65px;
    padding: 0px 20px;

    color: var(--primary);
    font-size: medium;
    font-weight: 500;
    /* text-shadow: 0px 1px 1px #000000; */
    letter-spacing: 0.5px;
    text-transform: uppercase;

    border-bottom: 1px solid #000000;
    transition: all 0.3s ease-in-out;
  }
  
  .mobileNavSection a:hover {
    background-color: #c8a1ff2e;
    color: white;

  }

  .mobileNavSection {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 20px; */
  }
  
  .mobileMenuContent {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 100%;
    /* padding: 0 40px; */
  }
}