.walletNavContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}
  
.walletNavbar {
    display: inherit;
    position: fixed;
    align-items: center;
    justify-content: left;
    bottom: 25px;
    left: 10px;
    z-index: 1000;
    height: 25px;
    width: 150px;
    padding: 5px;
    /* margin-bottom: 15%; */
    border-radius: 10px;
    box-shadow: 0px 2px 10px #1b1b1bdb;
    transition: 0.3s ease-in-out;
    background: #43434352;
    backdrop-filter: blur(25px);
}

.walletNavbar.open {
    padding-top: 100px;
    transition: 0.3s ease-in-out
}
  
.walletContainer {
    display: inherit;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.leftSide {
    display: inherit;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border: 1px;
    border-style:solid;
    border-color: var(--border);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 2px 10px #1b1b1bdb;
}

.rightSide {
    display: inherit;
    justify-content: center;
    align-content: center;
    align-items: center;
    right: 5px;
    gap: 10px;
    border: 1px;
    border-style:solid;
    border-color: var(--border);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 2px 10px #1b1b1bdb;
    cursor: pointer;
}
  
.icons {
    height: auto;
    width: 25px;
}

/* .wallet-adapter-modal {
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 8px;
  } */

  .wallet {
    display: none;
  }

.walletMenuContainer{
    position: absolute;
    opacity: 0;
    transform: translateY(50%);
    pointer-events: none; 
}

.walletMenuContainer.open{
    display: flex;
    position: fixed;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    bottom: 80px;
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: auto;
}

.walletMenuSelection {
    display: inherit;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
    color: var(--secondary);
    text-shadow: 0px 2px 10px #1b1b1bdb;
}

.solPriceTag {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin-right: 30px;
  }

  .walletAddress {
    display: flex;
    align-items: center;
    left: 10px;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin-left: 10px;
  }
  
  .solIcon {
    color: #c8a1ff;
    font-size: 16px;
  }
  
  /* @keyframes shimmerFlash {
    0% { opacity: 0.8; transform: scale(1); }
    50% { opacity: 1; transform: scale(1.05); }
    100% { opacity: 0.8; transform: scale(1); }
  } */
  
  .shimmer {
    animation: shimmerFlash 0.5s ease-in-out;
  }
  

  @keyframes shimmerFlash {
    0% {
      background-position: -100%;
      opacity: 0.8;
    }
    50% {
      background-position: 100%;
      opacity: 1;
    }
    100% {
      background-position: -100%;
      opacity: 0.8;
    }
  }
  
  .shimmer {
    animation: shimmerFlash 0.5s linear;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(200, 161, 255, 0.6) 50%,
      rgba(255, 255, 255, 0.1) 100%
    );
    background-size: 200% auto;
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
    font-weight: bold;
  }

