.navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    top: 20px;
    position: relative;
    z-index: 1000;
}

.navbar {
    height: 55px;
    width: 95%;
    background: #43434352;
    backdrop-filter: blur(25px);
    border-radius: 30px;

    position: fixed;
    top:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }

  .mobileLinks {
    display: none;
    z-index: 0;
  }

  .leftSection {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 10px; 
    padding-left: 20px;
  }

  .rightSection {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 10px; 
    padding-left: 20px;
  }

  .links {
    display: flex;
    gap: 10px;
    margin: 0px;
  }

  .links a {
    color: var(--primary);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .links a:hover {
    color: var(--primary);
    background-color: var(--border);
  }

  .walletWrapper {
    display: none;
    margin: 20px 0px; 
  }
  
  .walletButton {
    background: var(--accent);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s ease-in-out;
  }
  
  .walletButton:hover {
    background: #4f46e5;
}

.hamburger {
  display: none;
}

.logo {
  color: var(--primary);
  display: flex;
}


@media screen and (max-width: 768px) {
  .navbarContainer {
    justify-content: left;
    left: 20px;
    position: fixed;
    width: 100%;
  }

  .navbar {
    width: 150px;
  }

  .mobileLinks.open {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #5c5c5c52;
    color: var(--primary);
    width: 100%;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index: 500;
  }

  .mobileLinks a {
    padding: 25px 0px;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    border-bottom: 1px solid var(--border);
    color: var(--primary);
    border-radius: 0px;
  }

  .navbar .links {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 20%;
    background: #43434352;
    width: 100%;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    width: fit-content;
  }

  .links a {
    padding: 20px 0px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--border);
    color: var(--primary);
    border-radius: 0px;
  }

  /* .links.open {
    display: flex; 
    z-index: 1000;
  } */

  .walletWrapper {
    display: flex;
  }

  .hamburger {
    display:block;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--primary);
    margin-right: 15px;
  }

  .logo {
    color: var(--primary);
    display: none;
  }

}