.navbar {
    height: 60px;
    width: 100%;
    background: var(--foreground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid var(--border);
  }

  .leftSection {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 10px; 
    padding-left: 20px;
  }

  .links {
    display: flex;
    gap: 20px;
  }

  .links a {
    color: var(--secondary);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .links a:hover {
    color: var(--primary);
    background-color: var(--border);
  }

  .walletWrapper {
    margin-right: 10px; 
    padding-right: 20px;
  }
  
  .walletButton {
    background: var(--accent);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s ease-in-out;
  }
  
  .walletButton:hover {
        background: #4f46e5;
}   

.searchBar {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid var(--border);
  background: var(--foreground);
  color: white;
  outline: none;
  width: 200px;
}

.searchBar::placeholder {
  color: var(--secondary);
}

.hamburger {
  display: none;
}


@media screen and (max-width: 768px) {

  .searchBar {
    display: none;
  }

  .links {
    display: none; /* Hide links by default on mobile */
    flex-direction: row;
    position: absolute;
    top: 60px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    background: var(--foreground);
    width: 100%;
    padding: 10px;
    box-shadow: 0px 4px 6px #00000033;
    
  }

  .links.open {
    display: flex; 
  }

  .hamburger {
    display:block;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--primary);
  }

  .logo {
    display: none;
  }

}