.userNavContainer {
    display: flex;
    justify-content:right;
    align-items: center;
    color: var(--primary);
    top: 20px;
    position: relative;
    z-index: 1000;
    right: 20px;
}

.userNavbar {
    display: flex;
    justify-content: center;
    height: 55px;
    width: 150px;
    background: #43434352;
    backdrop-filter: blur(25px);
    border-radius: 30px;
    position: fixed;
    top:20px;
    z-index: 1000;
}

.userNavbar.open {
    height: 65vh;
    transition: 0.3s ease-in-out;
}

.userMenuContainer {
    display: flex;
    justify-content: center;
}

.userMenu {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.userIcon {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 25px;
    position:fixed;
    top:15px;
}

.userOptions {
    display: none;
}

.userOptions.open {
    width: 100px;
    top: 55px;
    display: flex;
    flex-direction: column;
    color: var(--primary);
    gap: 25px;
    z-index: 500;
    border: 1px;
    border-style:solid;
    border-color: var(--border);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 2px 10px #1b1b1bdb;
}

.wallet {
    display: none;
}

